h1 {
  color: blue;
  text-align: center;
  font-style: oblique;
  font-family: fantasy;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
h3 {
  color: chocolate;
  font-style: italic;
}
p {
  font-family: sans-serif;
  background-color: rgb(179, 218, 218);
}
ul {
  line-height: 40px;
}